body {
    background-color: #ff95d3f6;
  }
  
  h1 {
    color: rgb(72, 72, 116);
    margin-left: 20px;
       text-align: center;
        color: navy;
        
  }
p{text-align: center;}
