body {
    background-color: #ff95d3f6;
  }
  
  h1 {
    color: rgb(9, 7, 145);
    margin-left: 20px;
       text-align: center;
        color: rgb(75, 4, 54);
        
        
  }
p{text-align: center;
font-family: cursive;
font-weight: bolder;}
img {
  margin-left: 209px;
}

h2 {color: rgb(31, 8, 54);
    text-align: center;
    background-color: teal;
       }
p{text-align: center;}